$garden: #1a9283;
$rich: #f86d70;
$gold: #daba30;
$gold2: #dfa40a;
$wall: #ffffff;
$void: #24292e;

.container {

    width: 85vw;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;

    @media only screen and(max-width: 1235px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .income {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__title {
            color: $garden;
            margin-bottom: 20px;
        }
    }

    .expenses {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__title {
            color: $rich;
            margin-bottom: 20px;

            @media only screen and(max-width: 1235px) {
                margin-top: 20px;

            }
        }

    }
}