$garden: #1a9283;
$rich: #424791;
$gold: #daba30;
$gold2: #dfa40a;
$wall: #ffffff;
$underline: #d4d4d4;
$void: #24292e;

.display {
  min-height: 48vh;
  background-image: url("./cash.png");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

  @media only screen and(max-width: 580px) {
    background-position: right;
    margin-top: 1px;
  }

  .budget {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @media only screen and(max-width: 1235px) {
      min-width: 85vw;
      flex-direction: column;
      align-items: center;
    }

    @media only screen and(max-width: 580px) {
      min-width: 85vw;
    }

    &__title {
      font-size: 18px;
      text-align: center;
      margin-bottom: 10px;
      font-weight: 600;
      padding: 8px;
      margin-bottom: 10px;
      width: 250px;
      color: $void;
      margin-right: 40px;

      .deco {
        color: $gold;
        font-size: 23px;
      }
      @media only screen and(max-width: 1235px) {
        margin-right: 0px;
      }

      @media only screen and(max-width: 580px) {
        min-width: 85vw;
        font-size: 22px;
        margin-bottom: 25px;
        margin-top: 20px;
      }
    }

    &__available {
      padding: 5px;
      margin-bottom: 10px;
      background-color: $wall;
      text-align: center;
      min-width: 250px;
      border-radius: 5px;
      box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
      max-width: 80vw;
      overflow: auto;
      color: $void;
      border: 1px solid $underline;
      margin-right: 10px;
      height: 80px;
     

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__text {
          font-weight: 600;
        }
        &__icon {
          width: 30px;
          fill: $gold2;
        }
      }

      @media only screen and(max-width: 1235px) {
        margin-right: 0px;
      }

      @media only screen and(max-width: 580px) {
        font-size: 16px;
        min-width: 85vw;
        margin-bottom: 10px;
      }
    }

    &__income {
      padding: 5px;
      margin-bottom: 10px;
      background-color: $wall;
      text-align: center;
      min-width: 250px;
      border-radius: 5px;
      box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
      max-width: 80vw;
      overflow: auto;
      color: $garden;
      border: 1px solid $underline;
      margin-right: 10px;
      height: 80px;

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__text {
          font-weight: 600;
        }
        &__icon {
          width: 30px;
          fill: $garden;
        }
      }

      @media only screen and(max-width: 1235px) {
        margin-right: 0px;
      }

      @media only screen and(max-width: 580px) {
        font-size: 16px;
        min-width: 85vw;
        margin-bottom: 10px;
      }
    }

    &__expenses {
      background-color: $wall;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      min-width: 250px;
      box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
      border: 1px solid $underline;
      overflow: auto;
      color: $rich;
      height: 80px;

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__text {
          font-weight: 600;
        }
        &__icon {
          width: 30px;
          fill: $rich;
        }
      }

      @media only screen and(max-width: 1235px) {
        margin-right: 0px;
      }

      @media only screen and(max-width: 580px) {
        font-size: 16px;
        width: 85vw;
      }
    }
  }
}
