$garden: #1a9283;
$rich: #f86d70;
$gold: #daba30;
$gold2: #dfa40a;
$wall: #ffffff;
$void: #24292e;
$gold2: #dfa40a;
$void: #1d2029;
$card: #252b43;

.title {
  text-align: center;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: $wall;

  @media only screen and(max-width: 580px) {
   font-size: 1.5rem;
  }
}

.display {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  @media only screen and(max-width: 580px) {
    background-position: right;
    margin-top: 1px;
  }

  .budget {
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @media only screen and(max-width: 580px) {
      min-width: 85vw;
      flex-direction: column;
      align-items: center;
    }

    &__available {
      padding: 5px;
      background-color: $card;
      text-align: center;
      min-width: 250px;
      border-radius: 5px;
      box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
      max-width: 80vw;
      overflow: auto;
      color: $void;
      height: 80px;

     &--value {
       color: $wall;
       font-size: 1.5rem;
     }

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__text {
          font-weight: 600;
          color: $wall;
        }
        &__icon {
          width: 30px;
          fill: $gold2;
        }
      }

      @media only screen and(max-width: 580px) {
        font-size: 16px;
        min-width: 85vw;
        margin-bottom: 10px;
      }
    }

    &__income {
      padding: 5px;
      background-color: $card;
      text-align: center;
      min-width: 250px;
      border-radius: 5px;
      box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
      max-width: 80vw;
      overflow: auto;
      color: $garden;
      height: 80px;
      &--value {
        color: $wall;
      }

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__text {
          font-weight: 600;
          color: $wall;
        }
        &__icon {
          width: 30px;
          fill: $garden;
        }
      }

      @media only screen and(max-width: 1235px) {
        margin-right: 0px;
      }

      @media only screen and(max-width: 580px) {
        font-size: 16px;
        min-width: 85vw;
        margin-bottom: 10px;
      }
    }

    &__expenses {
      background-color: $card;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      min-width: 250px;
      box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
      overflow: auto;
      color: $rich;
      height: 80px;
      @media only screen and(max-width: 833px) {

        margin-top: 15px;
      }
      @media only screen and(max-width: 580px) {

        margin-top: 0px;
      }
      &--value {
        color: $wall;
      }

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__text {
          font-weight: 600;
          color: $wall;
        }
        &__icon {
          width: 30px;
          fill: $rich;
        }
      }

         @media only screen and(max-width: 580px) {
        font-size: 16px;
        width: 85vw;
      }
    }
  }
}
