$garden: #1a9283;
$rich: #424791;
$gold: #daba30;
$gold2: #dfa40a;
$wall: #ffffff;
$underline: #D4D4D4;
$void: #24292e;


.footer {
    font-size: 13px;
    color: $void;
    padding: 5px;
    text-align: center;
    margin-top:13%;
    &__link {
        text-decoration: none;
        margin-left: 3px;

        &:focus, &:active {
            text-decoration: none;
        }
        &:visited {
            color: $gold2;
        }
    }
}